<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello World</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">
           <form class="form-horizontal" id="theForm">
            <h1>Cognitive Comapny</h1>
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">Enter Source String</label>
                <div class="col-lg-10">
                <textarea name="sourceString" id="srcString" rows="3" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="col-lg-2 control-label">Source Language</label>
                <div class="col-lg-10">
                 <select name="dstLanguage" id="dlanguage" class="form-control">
                    <option value="es">Spanish</option>
                    <option value="de">Germany</option>
                </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Translate & Analyze</button>
                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
    	//Submit data when enter key is pressed
        $('#user_name').keydown(function(e) {
        	var name = $('#user_name').val();
            if (e.which == 13 && name.length > 0) { //catch Enter key
            	//POST request to API to create a new visitor entry in the database
                $.ajax({
				  method: "POST",
				  url: "./api/visitors",
				  contentType: "application/json",
				  data: JSON.stringify({name: name })
				})
                .done(function(data) {
                    $('#response').html(data);
                    $('#nameInput').hide();
                    getNames();
                });
            }
        });
        //Retreive all the visitors from the database
        function getHistory(){
          $.get("./api/visitors")
              .done(function(data) {
                  if(data.length > 0) {
                    $('#databaseNames').html("Database contents: " + JSON.stringify(data));
                  }
              });
          }
          //Call getNames on page load.
          getNames();
    </script>
</body>

</html>